body {
    font-family: Arial, sans-serif;
    background-color: #727272;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 16px;
    color: blue;
    position: absolute;
    animation: moveRandom 10s infinite, shakeText 0.1s infinite;
}

@keyframes shakeText {
    0%, 100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-2px, 2px);
    }
    50% {
        transform: translate(2px, -2px);
    }
    75% {
        transform: translate(-2px, -2px);
    }
}

@keyframes moveRandom {
    0% {
        opacity: 1;
        top: 50%;
        left: 50%;
    }
    5% {
        opacity: 0;
        top: 50%;
        left: 50%;
    }
    10% {
        opacity: 1;
        top: 40%;
        left: 10%;
    }
    15% {
        opacity: 0;
        top: 40%;
        left: 10%;
    }
    20% {
        opacity: 1;
        top: 90%;
        left: 20%;
    }
    25% {
        opacity: 0;
        top: 90%;
        left: 20%;
    }
    30% {
        opacity: 1;
        top: 70%;
        left: 40%;
    }
    35% {
        opacity: 0;
        top: 70%;
        left: 40%;
    }
    40% {
        opacity: 1;
        top: 10%;
        left: 10%;
    }
    45% {
        opacity: 0;
        top: 10%;
        left: 10%;
    }
    50% {
        opacity: 1;
        top: 80%;
        left: 10%;
    }
    55% {
        opacity: 0;
        top: 80%;
        left: 10%;
    }
    60% {
        opacity: 1;
        top: 30%;
        left: 30%;
    }
    65% {
        opacity: 0;
        top: 30%;
        left: 30%;
    }
    70% {
        opacity: 1;
        top: 40%;
        left: 20%;
    }
    75% {
        opacity: 0;
        top: 40%;
        left: 20%;
    }
    80% {
        opacity: 1;
        top: 60%;
        left: 20%;
    }
    85% {
        opacity: 0;
        top: 60%;
        left: 20%;
    }
    90% {
        opacity: 1;
        top: 10%;
        left: 10%;
    }
    95% {
        opacity: 0;
        top: 10%;
        left: 10%;
    }
    100% {
        opacity: 1;
        top: 20%;
        left: 0%;
    }
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#logArea {
    width: 100%;
    height: 200px; /* Atur tinggi sesuai kebutuhan */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px; /* Sesuaikan ukuran font */
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}


select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}



button:hover {
    background-color: #000000;
}

.hidden {
    display: none;
}

.progress-bar {
    background-color: #eb3b3b;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    height: 30px;
    position: relative;
}

.progress-bar div {
    height: 100%;
    background-color: #474745;
    width: 0;
    transition: width 0.5s;
}

#progressText {
    margin-top: 10px;
    font-weight: bold;
}

.key-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.key-item input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.copyKeyBtn {
    background-color: #47439c;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.copyKeyBtn:hover {
    background-color: #47439c;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
}

#copyStatus {
    margin-top: 10px;
    color: Purple;
}

#telegramChannelBtn{
    background-color: black;
}
